@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@100&display=swap");

p {
  font-family: "PT Serif", serif;
  word-spacing: 7px;
  text-align: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h2:hover {
  color: gray;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .cardContainer {
    display: flex;
  }
  .emailClass {
    width: 75%;
  }
}
