@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@100&display=swap");

p {
  font-family: "PT Serif", serif;
  word-spacing: 7px;
  text-align: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h2:hover {
  color: gray;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

/* body {
  background-color: #dddfd4;
} */

@media only screen and (max-width: 375px) {
  .cardContainer {
    display: flex;
  }
  .emailClass {
    width: 75%;
  }
}
