input,
textarea {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 10px;
  grid-area: 1 / 1 / 2 / 2;
}

.nameClass,
.emailClass,
.textareaClass {
  width: 25%;
  border-radius: 4px;
  margin-top: 5px;
}

.forumClass {
  display: flex;
  justify-content: center;
}

.forumInfo {
  border: solid lightgray 2px;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  /* content: center; */
  width: 50%;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.formButton {
  /* padding: 30px; */
  text-align: center;
  font-size: 15px;
  border-style: solid;
  width: 15%;
  border-radius: 4px;
}

.formButton:hover {
  color: gray;
}

@media only screen and (max-width: 1024px) {
  input.emailClass {
    width: 75%;
  }
  input.nameClass {
    width: 75%;
  }
  textarea.textareaClass {
    width: 75%;
  }
}
