@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
.header {
  padding: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 80px;
}

.header:hover {
  color: gray;
}

.siteTagline {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: black;
}
