@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
.header {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 80px;
}

.header:hover {
  color: gray;
}

.siteTagline {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: black;
  word-spacing: 15px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    font-size: 50px;
  }
  .headingLogo {
    padding-left: 10px;
  }
}
