/* h3 {
  display: flex;
  justify-content: center;
} */

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 3vw;
  margin-top: 100px;
  /* align-items: center; */
  justify-content: space-around;
  grid-gap: 100px;
  max-height: 334.39px;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 375px) {
  .cardContainer {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 320px) {
  .cardContainer {
    display: flex;
    justify-content: center;
  }
}
