h3 {
  display: flex;
  justify-content: center;
}

img {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  flex-direction: column;
  /* margin: auto; */
  width: 25%;
  /* padding: 300px 0; */
  border-radius: 25px;
  border: solid black 2px;
}
