.topnav {
  height: 75px;
  display: flex;
  padding-right: 150px;
}

.logo {
  display: flex;
  justify-content: baseline;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}
img {
  width: 24px;
  height: 24px;
  padding: 2px;
  display: none;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-items a {
  padding: 5px;
  text-decoration: none;
}

img {
  display: block;
  padding: 5px;
}
.nav-items {
  flex-direction: column;
  text-align: right;
}

button {
  text-align: center;
  padding: 10px;
  background-color: transparent;
  border-style: none;
  font-size: 20px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 75px;
}

.headingLogo {
  display: flex;
  justify-content: baseline;
  justify-content: space-between;
  padding-left: 15%;
  color: black;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: flex;
    padding-left: 15px;
  }
}
