.topnav {
  background-color: rgb(82, 148, 198);
  height: 75px;
  opacity: 0.5;
}

button {
  text-align: center;
  padding: 10px;
  background-color: transparent;
  border-style: none;
  /* height: 5vh; */
  font-size: 20px;
}

.menu {
  display: flex;
  /* float: right; */
  justify-content: flex-end;
  /* padding-top: 15px; */
}
/* 
.headingLogo {
  display: flex;
  justify-content: baseline;
  font-family: "Poppins", sans-serif;
  justify-self: start;
  margin: 0;
  height: 0;
} */

.logo {
  display: flex;
  justify-content: baseline;
  justify-content: space-between;
}

@media only screen and (max-width: 375px) {
  .cardContainer {
    display: flex;
    justify-content: center;
  }
}
