.topnav {
  background-color: rgb(82, 148, 198);
  height: 75px;
  opacity: 0.5;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-end;
}
img {
  width: 24px;
  height: 24px;
  padding: 2px;
  display: none;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-items a {
  padding: 5px;
  text-decoration: none;
}

img {
  display: block;
  padding: 5px;
}
.nav-items {
  /* display: none; */
  flex-direction: column;
  text-align: right;
}

button {
  text-align: center;
  padding: 10px;
  background-color: transparent;
  border-style: none;
  /* height: 5vh; */
  font-size: 20px;
}

.menu {
  display: flex;
  /* float: right; */
  justify-content: flex-end;
  /* padding-top: 15px; */
  padding-right: 75px;
}
/* 
.headingLogo {
  display: flex;
  justify-content: baseline;
  font-family: "Poppins", sans-serif;
  justify-self: start;
  margin: 0;
  height: 0;
} */

.logo {
  display: flex;
  justify-content: baseline;
  justify-content: space-between;
  padding-left: 75px;
}

/* @media only screen and (max-width: 375px) {
  .cardContainer {
    display: flex;
    justify-content: center;
  }
} */
@media only screen and(max-width: 375px) {
  .menu {
    display: flex;
  }
}

@media screen and (max-width: 375px) {
  nav {
    flex-direction: column;
    align-items: flex-end;
  }
}
