@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@900&family=Overpass&display=swap");

.TransplantContainer {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: "Chivo", sans-serif;
}

p {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  font-family: "Overpass", sans-serif;
}
