.iga {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
